@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    /* Color Variables */
    --color-text-main: rgb(0, 0, 0);
    --color-text-secondary: rgb(150, 150, 150);
    --color-background: rgb(250, 250, 250);
    --color-accent: rgb(240, 35, 40);

    /* Text Variables */
    --text-heading: 60px;
    --text-heading-line-height: 60px;
    --text-subheading: 30px;
    --text-subheading-weight: normal;
    --text-subheading-weight-bold: 600;
    --text-main: 20px;
    --font-family: "Inter", sans-serif;
}

* {
    font-family: var(--font-family), serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--text-heading);
    font-weight: var(--text-subheading-weight);
    color: var(--color-text-main);
    line-height: var(--text-heading-line-height);
}

h2 {
    font-size: var(--text-subheading);
    font-weight: var(--text-subheading-weight);
    color: var(--color-text-main);
}

h3 {
    font-size: var(--text-main);
    font-weight: var(--text-subheading-weight-bold);
    color: var(--color-accent);
    margin-bottom: 20px;
}

p {
    font-size: var(--text-main);
}

main {
    margin-top: 150px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    h1 {
        text-align: center;
    }
}

#index-header {
    display: flex;
    padding-top: 30px;
    justify-content: center;

    #logo {
        width: 200px;
    }
}

header {
    height: 30px;
    background-color: var(--color-accent);

    img {
        color: white;
        margin-left: 5%;
        height: 30px;
        padding: 5px;
    }
}

#login-form {
    max-width: 600px;
    margin: 70px auto;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(230, 230, 230);
    box-shadow: 20 20 #d2d2d7;

    label {
        display: block;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color-text-main);
    }

    input {
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 24px;
        border: 1px solid #d2d2d7;
        border-radius: 8px;
        font-size: 17px;
        background-color: #fff;
        color: var(--color-text-main);
    }

    button {
        background-color: var(--color-text-main);
        color: #fff;
        border: none;
        border-radius: 8px;
        padding: 12px 24px;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 100%;
        margin-bottom: 20px;
    }

    p {
        color: var(--color-text-secondary);
    }
}

#subject-choice {
    margin-left: 5%;
    margin-right: 5%;

    h1 {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    #subject-description {
        margin-top: 50px;
    }

    #scientistSelect {
        appearance: none;
        border: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
        background-repeat: no-repeat;
        background-position: right center;
        font-size: var(--text-subheading);
        width: 90%;
        white-space: normal;

        option {
            font-size: var(--text-main);
        }
    }
}

#next-button {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 5px 15px;
    background-color: var(--color-accent);
    font-size: var(--text-main);
    font-weight: var(--text-subheading-weight);
    color: white;
    border: none;
    border-radius: 8px;
}

hr {
    color: gray;
}
